<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
	<title>Template - Error</title>	
</head>

<body>
	Error Template (<label id="errorCode" class="col-md-6 data-field control-label" th:text="${status}"></label>
						<label id="errorType" class="col-md-6 data-field control-label" th:text="${error}"></label>)
	<p/><span sec:authorize="isAuthenticated()">Logged in as </span><span sec:authentication="name"></span>
	<p/><span sec:authorize="isAnonymous()">Not Logged in</span>

</body>

</html>